.q1 {border-style: solid;
border-color: yellow;
border-width: 40px;}
.q2 {border-style: solid;
border-color: red;
border-width: 15px;}
.q3 {border-style: solid;
border-color: palevioletred;
border-width: 30px;}